<div class="wrapper">
  <div class="row">
    <app-detail-card [title]="'Statistics'" [icon]="'fa-chart-bar'" [style.width]="'100%'">
      <table class="details">
        <tr>
          <td>Projects</td>
          <td>{{stats?.projects}}</td>
        </tr>
        <tr>
          <td>Checks</td>
          <td>{{stats?.checks}}</td>
        </tr>
        <tr>
          <td>Checks done</td>
          <td>{{stats?.results}}</td>
        </tr>
        <tr>
          <td>Success rate</td>
          <td>{{stats?.success}}%</td>
        </tr>
        <tr>
          <td>Failure rate</td>
          <td>{{stats?.failure}}%</td>
        </tr>
      </table>
    </app-detail-card>
  </div>

  <div class="row marginless">
    <section class="mat-typography">
      <h3>Last checks</h3>
    </section>
  </div>

  <div class="row table mat-elevation-z1">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
      </ng-container>

      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef> Check </th>
        <td mat-cell *matCellDef="let element"> {{element.checkName}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <div class="status" [class.active]="element.success"></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="extra">
        <th mat-header-cell *matHeaderCellDef> Extra </th>
        <td mat-cell *matCellDef="let element"> {{element.extra}}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{moment(element.time).format('HH:mm DD-MM-YY')}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="onProjectClick(myRowData)"></tr>
    </table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 30]" showFirstLastButtons></mat-paginator>

  </div>
</div>
