@import "../../theme";

.row {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    justify-content: space-between;

    &.marginless {
        margin-bottom: 0;
    }
    
    app-dashboard-card {
        width: 49.5%;
    }

    &.table {
        flex-direction: column;

        .status {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background: $red;

            &.active {
                background: $primary;
            }
        }
    }

    @include until($fullhd) {
        width: 90%;
    }
}