<mat-grid-list cols="4" class="wrapper" rowHeight="200">
    <mat-grid-tile>
        <app-dashboard-card [title]="stats.projects" [color]="'#416788'" [subtitle]="'Projects'" [icon]="'fa-server'" [route]="'/projects'"></app-dashboard-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <app-dashboard-card [title]="stats.checks" [color]="'#3776ad'" [subtitle]="'Checks'" [icon]="'fa-heartbeat'" [route]="'/checks'"></app-dashboard-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <app-dashboard-card [title]="(stats.success || 0) + '%'" [subtitle]="'Rate of success'" [icon]="'fa-check'" [route]="'/statistics'" [passive]="true"></app-dashboard-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <app-dashboard-card [title]="(stats.failure || 0) + '%'" [color]="'#EF3E36'" [subtitle]="'Rate of failure'" [icon]="'fa-exclamation'" [route]="'/statistics'" [passive]="true"></app-dashboard-card>
    </mat-grid-tile>
</mat-grid-list>