@import "../../theme.scss";

.wrapper {
    width: 80%;
    margin: 10px auto;

    .actions {
        padding: 15px;

        button {
            margin-right: 10px;
            transition: all 0.4s;
            
            &:hover {
                transform: translateY(-2px);
            }
        }
    }

    app-detail-card {
        width: 100%;
    }

    .details {
        font-size: 13px !important;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        tr {
            td {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;

                &:first-of-type {
                    font-weight: bold;
                    width: 150px;
                }
            }
        }
    }

    #checksWrapper {
       .content {
           flex-direction: column;
           width: 100%;
       }
    }
}

:host /deep/ {

    .mat-table {
        width: 100%;
    }

    .mat-row {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background: rgb(233, 233, 233);
        }

        .mat-cell:last-child {
            text-align: end;
        }
    }

    .status {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: $red;

        &.active {
            background: $primary;
        }
    }

    .icon {
        transition: all 0.2s ease-in-out;
        
        &.deleteIcon {
            color: $red;
        }

        &.startIcon {
            color: $accent;
        }

        &.pauseIcon {
            color: $primary;
        }
    }
}